body {
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 400% 400%;
    animation: bg 12s ease infinite;
    background-color: rgb(113, 49, 197);
}


.box {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 194, 194);
    position: absolute;
}

div {
    margin-top: 115px;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    color: white;
}

form {
    /* background-color: rgb(3, 180, 180); */
    padding: 20px;
    width: 405px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

form input {
    width: 380px;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    /* border-bottom: 2px solid black; */
}

form label{
    color: white;
}

form button {
    padding: 10px;
    margin-left: 150px;
    width: 100px;
    font-weight: 800;
}